@charset "UTF-8";
@use "../scss_var";

/*　投稿
----------------------------------------------- */
.post,
.interface-interface-skeleton__body {
    h1 {
        font-size: 26px;
        font-weight: bold;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 22px;
        font-weight: bold;
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
    }

    h5 {
        font-size: 18px;
        font-weight: bold;
    }

    h6 {
        font-size: 16px;
        font-weight: bold;
    }

    strong {
        font-weight: bold;
    }
}


@include scss_var.sp {

    .post,
    .interface-interface-skeleton__body {
        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
        }

        h5 {
            font-size: 16px;
        }

        h6 {
            font-size: 14px;
        }
    }
}