@charset "UTF-8";

// -------------------------------------------- //
// 共通設定
:root {
    // 共通フォント
    --main-font-family: YuMincho, 'Yu Mincho', serif;
    --sub-font-family: YuMincho, 'Yu Mincho', serif;
    --main-font-size: 16px;
    --main-font-weight: 400;
    --main-font-color: #000;
    --main-line-height: 1.6;
    --main-letter-spacing: 0;

    // 共通font-color（リンク）
    --main-link-color: #000;

    // 共通カラー
    --main-color: #000;
    --sub-color: #000;

    // 共通レイアウト
    --main-inner-width: 1030px;
    --main-inner-padding: 0 15px;

    // アニメーション設定
    --anime-speed: 750ms;
    --anime-delay: 0.6s;


}

@media (max-width: 750px) {
    :root {
        --main-font-size: 16px;
        --main-line-height: 1.6;
        --main-letter-spacing: 0;
        --main-inner-width: 100%;
        --main-inner-padding: 0 15px;
    }
}

// -------------------------------------------- //